In [8]:
path_to_zip_file = "datasets.zip"
direcyory_to_extract_to = ""

import zipfile
zip_ref = zipfile.ZipFile(path_to_zip_file,'r')
zip_ref.extractall(direcyory_to_extract_to)
zip_ref.close()
print('Done!')

Done!

In [22]:
import pandas as pd
Location = "datasets/smallgradesh.csv"
df = pd.read_csv(Location, header=None)
print('Done!')

Done!

In [34]:
import pandas as pd
Location = "datasets/smallgradesh.csv"
df = pd.read_csv(Location, names= ['Names','Grades'])

In [37]:
df.columns = ['Names','Grades2']

In [20]:
import pandas as pd
Location = "datasets/gradedata.csv"
df = pd.read_csv(Location)
print('Done!')

Done!

In [38]:
import pandas as pd
Location = "datasets/statecalifornia.csv"
df = pd.read_csv(Location)
print('Done!')

Done!

In [57]:
import pandas as pd
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]

listNames = [['Bob',76],['Jessica',95],['Mary',77],['John',78],['Mel',99]]

df = pd.DataFrame(data = listNames, columns =['Names','Grades'])

df.to_csv('studentgrades.csv',index=False,header=False)
print('Done!')

Done!

In [56]:
df.head()

     Names  Grades
0      Bob      76
1  Jessica      95
2     Mary      77
3     John      78
4      Mel      99