In [8]:
path_to_zip_file = "datasets.zip"
direcyory_to_extract_to = ""

import zipfile
zip_ref = zipfile.ZipFile(path_to_zip_file,'r')
zip_ref.extractall(direcyory_to_extract_to)
zip_ref.close()
print('Done!')

Done!

In [22]:
import pandas as pd
Location = "datasets/smallgradesh.csv"
df = pd.read_csv(Location, header=None)
print('Done!')

Done!

In [34]:
import pandas as pd
Location = "datasets/smallgradesh.csv"
df = pd.read_csv(Location, names= ['Names','Grades'])

In [37]:
df.columns = ['Names','Grades2']

In [20]:
import pandas as pd
Location = "datasets/gradedata.csv"
df = pd.read_csv(Location)
print('Done!')

Done!

In [38]:
import pandas as pd
Location = "datasets/statecalifornia.csv"
df = pd.read_csv(Location)
print('Done!')

Done!

In [57]:
import pandas as pd
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]

listNames = [['Bob',76],['Jessica',95],['Mary',77],['John',78],['Mel',99]]

df = pd.DataFrame(data = listNames, columns =['Names','Grades'])

df.to_csv('studentgrades.csv',index=False,header=False)
print('Done!')

Done!

In [64]:
import pandas as pd
Location = "datasets/gradedata.xlsx"
df = pd.read_excel(Location)

In [66]:
df.columns = ['first','last','sex','age','exer','hrs','grd','addr']

In [69]:
import pandas as pd
listData = [['Bob',76],['Jessica',95],['Mary',77],['John',78],['Mel',99]]
columnsName = ['Names','Grades']
df = pd.DataFrame(data = listData, columns = columnsName)
writer = pd.ExcelWriter('dataframe.xlsx',engine="xlsxwriter")
df.to_excel(writer,sheet_name="Sheet1")
writer.save()
print('Done')

Done

In [67]:
df.head()

,first,last,sex,age,exer,hrs,grd,addr
0,Marcia,Pugh,female,17,3,10,82.4,"7379 Highland Rd. , Dublin, GA 31021"
1,Kadeem,Morrison,male,18,4,4,78.2,"8 Bayport St. , Honolulu, HI 96815"
2,Nash,Powell,male,18,5,9,79.3,"Encino, CA 91316, 3 Lilac Street"
3,Noelani,Wagner,female,14,2,7,83.2,"Riverview, FL 33569, 9998 North Smith Dr."
4,Noelani,Cherry,female,18,4,15,87.4,"97 SE. Ocean Street , Bethlehem, PA 18015"